<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">LLISTAT DE ACTIVITIES</span>
                    <button class="btn btn-success float-end" routerLink="/crear-activity">NOVA ACTIVITY</button>
                    <table *ngIf="listActivities.length > 0" class="table table-striped mt-3">
                     <thead>
                       <tr>
                         <th scope="col">Name</th>
                         <th scope="col">Description</th>
                         <th scope="col">Language</th>
                         <th scope="col"></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let activity of listActivities">
                         <td>{{ activity.name }}</td>
                         <td>{{ activity.description }}</td>
                         <td>{{ activity.language }}</td>
                         <td>
                          <i [routerLink]="['/editar-activity', activity.name]" class="fa-solid fa-pen-to-square text-primary"></i>
                          <i (click)="deleteActivity(activity.name)" class="fa-solid fa-trash text-danger"></i>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   <h5 style="text-align: start; margin-top: 10px;" *ngIf="listActivities.length == 0">No hi ha activities a la base de dades</h5>
                </div>
            </div>
        </div>
    </div>
 </div>
